
entrypoint = "src/pages/index.astro"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-22_11"

[deployment]
deploymentTarget = "cloud_run"
ignorePorts = false
build = "npm run build"
run = "npm run replit"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
