run = "npx serve dist"
entrypoint = "src/pages/index.astro"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-22_11"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "dist"
run = ["sh", "-c", "npx serve dist"]

[workflows]
runButton = "Preview Site"

[[workflows.workflow]]
name = "Run"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Preview Site"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve dist -l 5000"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 4200

[[ports]]
localPort = 5003
externalPort = 5173

[[ports]]
localPort = 5004
externalPort = 6000

[[ports]]
localPort = 5005
externalPort = 6800

[[ports]]
localPort = 35339
externalPort = 8008

[[ports]]
localPort = 36493
externalPort = 8000
